.GjLseculzy {
    width: calc(100%);
    background: white;
    margin-bottom: 10px;
    padding: 5px 0px;
    -moz-box-shadow: 0px 0px 7px 5px #ccc;
    -webkit-box-shadow: 0px 0px 7px 5px #ccc;
    box-shadow: 0px 0px 7px 5px #ccc;
    border-radius: 2px;
    font-size: 16px;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

    .GjLseculzy > li:first-child a {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .GjLseculzy > li:last-child a {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .GjLseculzy > li:first-child a:before {
        display: none;
    }

    .GjLseculzy > li:last-child a:after {
        display: none;
    }

    .GjLseculzy > li a {
        display: block;
        float: left;
        height: 100%;
        background: #F3F5FA;
        text-align: center;
        padding: 2px 15px 2px 30px;
        position: relative;
        margin: 0 5px 0 0;
        font-size: 14px;
        text-decoration: none;
        color: #8093A7;
        font-family: monospace;
    }

        .GjLseculzy > li a:before {
            content: "";
            border-top: 13px solid transparent;
            border-bottom: 13px solid transparent;
            border-left: 13px solid #fff;
            position: absolute;
            left: 0;
            top: 0;
        }

        .GjLseculzy > li a:after {
            content: "";
            border-top: 13px solid transparent;
            border-bottom: 13px solid transparent;
            border-left: 13px solid #F3F5FA;
            position: absolute;
            right: -13px;
            top: 0;
            z-index: 1;
        }

        .GjLseculzy > li a:hover {
            background: #357DFD;
            color: #fff;
        }

            .GjLseculzy > li a:hover:after {
                border-left-color: #357DFD;
                color: #fff;
            }

.GjLseculzyac {
    background: #357DFD !important;
    color: #fff !important;
}

    .GjLseculzyac:after {
        border-left-color: #357DFD !important;
        color: #fff !important;
    }

.uPWuUYCLKg {
    width: calc(100% - 60px);
    margin: 0 30px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
}

.ketltnDWvz {
    width: 50px;
    display: flex;
    background: white;
    padding: 10px 5px;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    background-color: lightsteelblue;
}

    .ketltnDWvz > img {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        border: 1px solid #d5b402;
        margin: 5px 0;
        cursor: pointer;
    }

    .ketltnDWvz > span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 20px;
        border: 1px solid #d5b402;
        margin: 5px 0;
        font-size: 18px;
        cursor: pointer;
        background: white;
    }

        .ketltnDWvz > span:hover {
            background: #ffd701;
            border: 2px solid #d5b402;
            font-size: 16px;
        }

.rMKPiDIrMS {
    width: calc(100% - 50px);
    margin-left: 10px;
    background: white;
    border-radius: 5px;
    padding: 10px;
}

.bKKOQwNcRv {
    background: #ffd701 !important;
    border: 2px solid #d5b402;
    font-size: 16px;
}