.dcp-khung {
    font-weight: 400;
    position: absolute;
    z-index: 10;
    top: -5px;
    right: 3%;
}

.dcp-khung-before {
    position: absolute;
    top: 0px;
    right: -4px;
    width: 4px;
    height: 4px;
    color: red;
    border-top-right-radius: 10px;
    border: 3px solid;
    transform: scaleY(.75);
    transform-origin: top;
}


.dcp-khung .dcp-loi {
    float: right;
    width: 40px;
    height: 35px;
    background-color: red;
    padding: 5px 3px;
    padding-top: 10px;
    border-radius: 3px 0 0 0;
    border-top-left-radius: 5px;
}

.dcp-base {
    display: flex;
    text-align: center;
    font-weight: 700;
    height: 100%;
    line-height: .8125rem;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    z-index: 3;
}

    .dcp-base:after {
        content: "";
        width: 0;
        height: 0;
        left: 4px;
        bottom: -25px;
        position: absolute;
        border-color: transparent red;
        border-style: solid;
        border-width: 0px 16px 25px;
        z-index: 5;
    }

    .dcp-base::before {
        content: "";
        width: 0;
        height: 0;
        left: 0;
        bottom: -20px;
        position: absolute;
        z-index: 8;
        border-color: transparent red;
        border-style: solid;
        border-style: solid;
        border-width: 0 20px 20px;
    }

    .dcp-base span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        line-height: 100%;
        width: 100%;
    }

        .dcp-base span:before {
            content: '';
            border-left: 2px dotted gold;
            width: 2px;
            height: 46px;
            position: absolute;
            left: -1px;
            top: -8px;
            z-index: 15;
        }

        .dcp-base span::after {
            content: '';
            border-left: 2px dotted gold;
            width: 2px;
            height: 46px;
            position: absolute;
            right: -1px;
            top: -8px;
            z-index: 15;
        }

.GjLseculzy {
    width: calc(100% + 60px);
    background: white;
    margin-bottom: 10px;
    padding: 5px 0px;
    -moz-box-shadow: 0px 0px 7px 5px #ccc;
    -webkit-box-shadow: 0px 0px 7px 5px #ccc;
    box-shadow: 0px 0px 7px 5px #ccc;
    border-radius: 2px;
    font-size: 16px;
    left: -30px;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

    .GjLseculzy > li:first-child a {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .GjLseculzy > li:last-child a {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .GjLseculzy > li:first-child a:before {
        display: none;
    }

    .GjLseculzy > li:last-child a:after {
        display: none;
    }

    .GjLseculzy > li a {
        display: block;
        float: left;
        height: 100%;
        background: #F3F5FA;
        text-align: center;
        padding: 2px 15px 2px 30px;
        position: relative;
        margin: 0 5px 0 0;
        font-size: 14px;
        text-decoration: none;
        color: #8093A7;
        font-family: monospace;
    }

        .GjLseculzy > li a:before {
            content: "";
            border-top: 13px solid transparent;
            border-bottom: 13px solid transparent;
            border-left: 13px solid #fff;
            position: absolute;
            left: 0;
            top: 0;
        }

        .GjLseculzy > li a:after {
            content: "";
            border-top: 13px solid transparent;
            border-bottom: 13px solid transparent;
            border-left: 13px solid #F3F5FA;
            position: absolute;
            right: -13px;
            top: 0;
            z-index: 1;
        }

        .GjLseculzy > li a:hover {
            background: #357DFD;
            color: #fff;
        }

            .GjLseculzy > li a:hover:after {
                border-left-color: #357DFD;
                color: #fff;
            }

.GjLseculzyac {
    background: #357DFD !important;
    color: #fff !important;
}

    .GjLseculzyac:after {
        border-left-color: #357DFD !important;
        color: #fff !important;
    }

.diTRzvSLbS {
    width: 340px;
}

.CDBhRpMxwl {
    width: 100%;
    display: block;
    margin: 10px 0;
}

.LmqLbjIyYc {
    width: 50px !important;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 3px;
}

.bFpTBTrDfH {
    border: 2px solid blue;
    border-radius: 3px;
}

.LmqLbjIyYc > div > img.LmqLbjIyYc {
    margin-left: 0px;
}

.HmazgkOLPN {
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 10px;
    background: #808080a3;
    text-align: center;
    padding: 2px;
}

.BozncDhktp {
    width: 100%;
    padding: 0;
    margin: 0;
    background: rgb(239, 239, 239);
}

.ReUuFHMkvq {
    margin: 2px 3px;
    width: 31.33%;
}

.qFCWRAtWva {
    background: #4e4e4ebd;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.cUNLNWbjKS {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.QtHTvWzBal {
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: #ffc800;
    color: darkviolet;
    border-radius: 50%;
}

.PhtnSETPFW {
    margin: 5px;
}

.XhuOxcXgNZ {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-left: 5px;
}

.AhhxWVRcUP {
    width: 27px;
    height: 27px;
    margin: 0px 4px;
}

.lIiNahOSjz {
    width: 340px;
    max-width: 340px;
    padding: 0 !important;
    background: rgba(196, 196, 196, 0.14);
}

.LboUrliYOw {
    width: 100%;
    background: #e6f7ff;
    padding: 6px 15px;
    border-radius: 5px;
}

.RnmeRAZZRs {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.EQjksUFMJC {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.68);
    margin: 5px 0;
}

.xYeyreVUjs {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #8A8A8A;
}

.ant-rate-star {
    margin-right: 2px !important;
    font-size: 14px;
}

.otSUEGfNRF {
    width: calc(50% - 5px);
    background: rgba(196, 196, 196, 0.14);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

    .otSUEGfNRF:first-child {
        margin-right: 5px;
    }

    .otSUEGfNRF:last-child {
        margin-left: 5px;
    }

.AEQBszOavW {
    position: relative;
    background: linear-gradient( 100deg, rgb(253 130 10 / 66%), rgb(255 66 78 / 85%));
    border-radius: 5px;
    padding: 5px;
}

.oibhFVaXiQ {
    font-family: Roboto;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}

    .oibhFVaXiQ > div {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: white;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        padding: 0px 20px;
    }

        .oibhFVaXiQ > div > span:first-child {
            text-decoration-line: line-through;
        }

.BwzPWPYcLd {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.OGxbvhkgxM {
    color: brown;
    margin: 3px 5px;
}

.wqPWTPYvMr {
}

.fBvRJBvshu {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #ACABAB;
    margin: 5px 0;
}

    .fBvRJBvshu > span {
        color: black;
    }

.ofRgAVTeYl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: pointer;
}

.lPibOcgFQi {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    line-height: 50px;
    width: calc(50% - 10px);
    background: #ffffff;
    border-radius: 5px;
    padding-right: 5px;
    margin: 5px;
    flex-wrap: nowrap;
    overflow: hidden;
}

    .lPibOcgFQi > img {
        width: 50px;
        height: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .lPibOcgFQi > span {
        width: calc(100% - 50px);
        max-width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 16px;
        font-weight: 500;
    }

        .lPibOcgFQi > span :first-child {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

.nuTLGkaQio {
    width: 0px !important;
    height: 0px !important;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #007bff transparent transparent;
}

.SWzJAVZYWg {
    position: absolute;
    top: 4px;
    left: 15px;
    font-size: 12px;
    font-weight: 500;
}

.lBHJWvVzaH {
    position: relative;
    width: calc(25% - 10px);
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    margin: 5px;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.hcUCOccMik {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

    .hcUCOccMik > span > p {
        display: inline-block;
        color: blue;
        padding: 0;
        margin: 0 5px;
        cursor: pointer;
    }

.YaGBdXOcDw {
    position: absolute;
    top: 10% !important;
    left: 20px;
    width: calc(100% - 40px) !important;
}

.cqCDvWHHAI {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
}

.quirYXYDhV {
    width: 40%;
    padding: 0 5px;
}

.HdSlNhizMl {
    width: 60%;
    padding: 0 5px;
}

.ZKcRNZsCHm {
    width: 30px;
    height: 30px;
    line-height: 31px;
    border: 1px solid gray;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

    .ZKcRNZsCHm:hover {
        border: 1px solid blue;
        color: blue;
    }

.JmuKvefzfZ {
    border-radius: 5px;
}

    .JmuKvefzfZ .ant-input-number-handler-wrap {
        display: none;
    }

    .JmuKvefzfZ .ant-input-number-input-wrap input {
        text-align: center;
        font-weight: bold;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }

.jIClzckmnh {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: red;
}

.yRHMrpPwQg {
    width: 60%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.mHFRipNbVI {
    width: 40%;
    text-align: center;
    display: inline-block;
}

.NtyBxGgasl {
    width: 80%;
    border-radius: 5px;
}

.UPkAKNmJzp {
    width: calc(100% - 5px);
    margin: 5px;
    padding: 0;
    border-radius: 5px;
    display: block;
}

.QMUySBCWUx {
    width: calc(100% - 5px);
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    background: white;
    padding: 2px;
}

    .QMUySBCWUx > span {
        width: 30%;
        min-width: 30%;
        background: #bfbfbf21;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 5px;
        text-align: start;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

.OJkXBiXyst {
    background: rgba(196, 196, 196, 0.14);
    position: relative;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 20px;
}

.feTSsBMLGN {
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}

    .feTSsBMLGN img {
        max-width: 100% !important;
    }

    .feTSsBMLGN > p {
        margin-bottom: 5px;
    }

.SwswGUqGyh {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    border-bottom: 1px solid #a9a9a991;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0;
    margin-bottom: 10px;
}

.XlRRNzXjls {
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
}

.pzScZkIiuj {
    height: 200px;
    overflow: hidden;
}

.kBynIEHFTL {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.fudZxInsuq {
    display: none;
}

.qiLHzvzZEV {
    width: 40%;
    border-radius: 5px;
}

.VVrWvYaWfC {
    width: 30%;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.oDJettRwyU {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
}

.OCPtBwOIOD {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    white-space: nowrap;
}

.cmNTtEtbtK {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
    align-items: end;
    justify-items: stretch;
}

.GzDAOKKKVj {
    width: 100%;
    height: 35px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

    .GzDAOKKKVj > li {
        font-size: 25px;
        margin: 2px;
        padding: 0;
    }

.UCrJvRxSQd {
    line-height: 20px;
    margin-top: 1px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(128, 128, 137);
}

.IoOXkVMAAl {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: end;
}

.YgpLxSKxnS {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: -2px 2px;
}

.EcgcSmPrVd {
    width: 50%;
    margin: 2px;
    height: 16px;
    display: contents;
}

    .EcgcSmPrVd > li {
        font-size: 12px;
        margin: 1px;
        padding: 0;
    }

.FacGcvSojo {
    margin: 0 10px;
}

.BAySdinqWS {
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    color: rgb(128, 128, 137);
}

.SCeJkHPGQW {
    width: 70%;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #d9d9d9;
}

    .SCeJkHPGQW:last-child {
        border-bottom: none;
    }

.eHCQBsdJND {
    height: 90px;
    line-height: 1;
    display: flex;
    border-right: 1px solid #f0f0f0;
}

.cKqErgPkfl {
    width: 80px;
    height: 80px;
    line-height: 1;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: block;
}

    .cKqErgPkfl > span:last-child {
        width: 100%;
        height: 100%;
        line-height: 2;
        display: flex;
        align-items: center;
        display: block !important;
        position: relative !important;
    }

        .cKqErgPkfl > span:last-child > img {
            width: 100%;
            height: 100%;
            line-height: 1;
        }

    .cKqErgPkfl > span:first-child {
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 3;
    }

.mgALtMnzRY {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
}

.JzCIqJTYYL {
    display: block;
    margin: 0 5px;
    border: 1px solid gray;
    padding: 0px 10px;
    border-radius: 15px;
    color: black;
    min-width: 40px;
    text-align: center;
    background: #8080802e;
    font-size: 16px;
    -webkit-transition: .5s all;
    -webkit-transition-delay: .2s;
    -moz-transition: .5s all;
    -moz-transition-delay: .2s;
    -ms-transition: .5s all;
    -ms-transition-delay: .2s;
    -o-transition: .5s all;
    -o-transition-delay: .2s;
    transition: .5s all;
    transition-delay: .2s;
}

.VNDntFciDM {
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 12px;
    background: #808080a3;
    text-align: center;
    padding: 4px;
    height: 80px;
    line-height: 20px;
    width: 80px;
    top: -5px;
    left: 0px;
    border-radius: 5px;
}

.tLyWEpJTkm {
    color: #e2bf00;
}

.JzCIqJTYYL:hover {
    background: rgb(240, 248, 255);
    border: 1px solid #40a9ff;
    box-shadow: 0 0 3px 0 #40a9ff inset, 0 0 7px 0 #40a9ff;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.QWgTuTyObU {
    transition-delay: 1s;
    background: rgb(240, 248, 255);
    border: 1px solid #40a9ff;
    box-shadow: 0 0 3px 0 #40a9ff inset, 0 0 7px 0 #40a9ff;
}


.ZdnOJBGTEN {
}

.IMqJSNHkYz {
    width: 25%;
    height: 90px;
    padding: 5px;
    border-left: 1px solid #f0f0f0;
}

.EWMjqeJIcu {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: cursive;
}

.ZGXufPQEVl {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

    .ZGXufPQEVl > li {
        font-size: 30px;
        padding: 0;
        margin: 0 5px;
    }

.eNzvzXxgia {
    width: calc(100% - 10px);
    min-height: 100px;
    height: 30px;
    max-height: 200px;
    outline: none;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 10px 5px;
    overflow: hidden;
}

.VTsdGRPspc {
    margin: 0 !important;
    padding: 0;
    cursor: pointer;
    font-size: 12px !important;
}

.sLiVwLFPQg {
    width: 100%;
    padding: 0 100px;
    border-radius: 5px;
}

.BDVwiLlqTH {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 5px;
    padding: 5px;
    padding-top: 10px;
    align-content: center;
}

    .BDVwiLlqTH:not(:first-child) {
        border-top: 1px solid #a9a9a991;
    }

.LNOnCyyxQa {
    width: 25%;
}

.QmalboputO {
    width: 100%;
    height: 100%;
    display: flex;
}

.UsOtLlsjsj {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.UyXPaSOgcb {
    width: calc(100% - 60px);
    margin: 0 5px;
    height: 50px;
}

    .UyXPaSOgcb > p {
        padding: 0;
        margin: 0;
        font-size: 13px;
        line-height: 20px;
        color: rgb(128, 128, 137);
    }

.afjfYlfVaY:first-child {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: capitalize;
}

.qCuxZuQMLY {
    margin: 12px 0px 0px;
    color: rgb(128, 128, 137);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 10px;
}

.cfgjlVcRMQ {
    width: 75%;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.liyeWatEpD {
    width: 100%;
    display: flex;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(36, 36, 36);
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.LgfLOmjQMW {
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin-right: 10px;
}

    .LgfLOmjQMW > li {
        font-size: 20px;
        margin: 0 5px;
    }

.uVOrGSOXsc {
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 5px;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(0, 171, 86);
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    justify-content: flex-start;
}

    .uVOrGSOXsc > span:not(:first-child,:nth-child(2)) {
        color: #4e4e4e;
        border: 1px solid #4e4e4e;
        padding: 0 5px;
        border-radius: 15px;
    }

    .uVOrGSOXsc > span {
        margin: 2px 5px;
    }

.GWmMQEuuPK {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 0px 10px;
}

.gRDMnIHgdU {
    display: flex;
}

.puUSLSJlzZ {
    font-size: 13px;
    line-height: 20px;
    color: rgb(128, 128, 137);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.dnBQQNdEwT:not(:first-child) {
    position: relative;
    padding-left: 10px;
    margin-left: 8px;
}

    .dnBQQNdEwT:not(:first-child):before {
        content: "";
        height: 2px;
        width: 2px;
        background-color: rgb(128, 128, 137);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0px;
        margin: -1px 0px 0px;
    }

.GSUNSRmwNO {
    width: 100%;
    border-top: 1px solid #a9a9a991;
    border-bottom: 1px solid #a9a9a991;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 10px;
}

.aUlQvWccLA {
    color: black;
    background: #fff;
    border-color: #40a9ff;
    border: none;
    padding: 0px 20px;
    font-size: 14px;
    width: 33.33%;
    margin: 0 5px;
}

    .aUlQvWccLA:hover {
        color: #40a9ff;
        border: 1px solid #f4f4f4;
        border-radius: 5px;
        background: #e6f7ff;
    }

.dLGiHcVLYs {
    color: #40a9ff;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    background: #e6f7ff;
}

    .dLGiHcVLYs > span:first-child {
        font-size: 20px;
    }

.aUlQvWccLA > span:first-child {
    -webkit-transition: .5s all;
    -webkit-transition-delay: .2s;
    -moz-transition: .5s all;
    -moz-transition-delay: .2s;
    -ms-transition: .5s all;
    -ms-transition-delay: .2s;
    -o-transition: .5s all;
    -o-transition-delay: .2s;
    transition: .5s all;
    transition-delay: .2s;
}

.aUlQvWccLA:hover > span:first-child {
    font-size: 20px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.JlgHldYWir {
    width: 25px !important;
    height: 25px !important;
    margin: 0 5px;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    border: 1px dashed #d9d9d9;
}

.KIBtbcoNUB {
    position: absolute;
    z-index: 20;
    top: 35px;
    right: 0;
}

.ant-upload-list-text-container {
    display: none;
}

.YLmZhraSLJ {
    margin: 5px 0;
    padding: 0;
    width: 100%;
}

.cRTOTgWNXK {
    border-radius: 25px;
    background: #f0f2f5;
}

    .cRTOTgWNXK > input {
        background: #f0f2f5;
    }

.RPjVXBNSbL {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
}

.mxhKTUyXiE {
    width: 50px;
    height: 50px;
    margin: 5px;
    position: relative;
    display: inline-block;
}

    .mxhKTUyXiE > img {
        width: 100%;
        height: 100%;
    }

    .mxhKTUyXiE > span {
        position: absolute;
        right: -3px;
        top: -5px;
        cursor: pointer;
    }

.ktwIxbdVgY {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position: absolute;
    top: 2px;
    right: 10px;
    justify-content: space-between;
}

    .ktwIxbdVgY > span {
        line-height: 0;
        border-radius: 100%;
        text-align: center;
    }

.rzYsHrKrLz {
    width: 150px;
    height: 20px;
    line-height: 20px;
    color: #65676B;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
}

    .rzYsHrKrLz > .ant-select-selector > .ant-select-selection-item {
        line-height: 20px;
    }

.nNVxrpOumL {
    width: 100%;
    position: relative;
    margin: 5px 0;
}

.JwMWGpetPE {
    width: 100%;
    display: flex;
}

    .JwMWGpetPE > span {
        width: 25px;
        height: 25px;
        left: 5px;
        line-height: 28px;
        position: relative;
        top: 7px;
        color: #989898;
        border-radius: 50%;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
        display: none;
    }

        .JwMWGpetPE > span:hover {
            color: black;
            background: #f0f2f5;
        }

    .JwMWGpetPE:hover > span {
        display: block;
    }

.GGKviWLHJH {
    width: 40px;
    position: relative;
}

.ZCcIcopBuX {
    position: absolute;
    width: 1px;
    background: #f0f2f5;
    height: calc(100% - 25px);
    top: 30px;
    left: 15px;
}

.EuEinMInHi {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.FwoJYIRsKF {
    width: calc(100% - 70px);
    position: relative;
}

.vytbSMnWZY {
    background: #f0f2f5;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-family: inherit;
    position: relative;
}

.EFShuNSjPz {
    font-size: 10px;
    font-weight: 500;
    font-family: inherit;
}

.bRVbtcpFyr {
    font-size: 12px;
    color: #050505;
}

.RqaOLkKjHG {
    position: absolute;
    right: 10px;
    bottom: -10px;
    background: #d9d9d93b;
    border-radius: 10px;
    padding: 2px 5px;
    font-weight: 700;
}

    .RqaOLkKjHG > span {
        font-size: 12px;
    }

        .RqaOLkKjHG > span:not(:first-child) {
            margin-left: 2px;
        }

        .RqaOLkKjHG > span:nth-child(1) {
            color: red;
        }

        .RqaOLkKjHG > span:nth-child(2) {
            color: gold;
        }

        .RqaOLkKjHG > span:nth-child(3) {
            color: blue;
        }

        .RqaOLkKjHG > span:nth-child(4) {
            color: red;
        }

.nxLBfYxLOR {
    display: flex;
    font-size: 10px;
    list-style: none;
    margin: 0;
    padding: 0px 10px;
}

    .nxLBfYxLOR > li {
        margin: 0 5px;
        font-weight: 500;
        cursor: pointer;
    }

.iQrPsVgAsr {
    color: rgb(32, 120, 244);
}

.ByKVhDewtl {
    width: calc(100% - 15px);
    display: flex;
    margin: 5px 0;
    margin-left: 15px;
    padding-left: 29px;
    border-left: 1px solid transparent;
    position: relative;
}

    .ByKVhDewtl > span {
        width: 25px;
        height: 25px;
        left: 5px;
        line-height: 28px;
        position: relative;
        top: 7px;
        color: #989898;
        border-radius: 50%;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
        display: none;
    }

        .ByKVhDewtl > span:hover {
            color: black;
            background: #f0f2f5;
        }

    .ByKVhDewtl:hover > span {
        display: block;
    }

.uIDCSlWITT:not(:last-child) {
    border-left: 1px solid #f0f2f5;
}

.bHexDsHAAu {
    width: 30px;
    height: 20px;
    border-left: 1px solid #f0f2f5;
    border-bottom: 1px solid #f0f2f5;
    position: absolute;
    left: -30px;
    top: -5px;
    border-bottom-left-radius: 10px;
}

.TsoLLSKzSx {
    width: 100%;
    height: 30px;
    line-height: 35px;
    position: relative;
    left: -30px;
    color: #868686;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.ant-rate-star-second {
    color: #c9c9c9;
}
