.RzCgNC58JZ {
    margin-bottom: 0px !important;
    font-size: 28px !important;
}

.kdMal56HSK {
    font-size: 12px;
    color: darkgray;
}

.qTPFz3NQ2b > textarea {
    height: 30px !important;
}

.esQVBWrDEg {
    font-size: 26px;
    color: #1791f2;
}

.HR0PH7NZ6x {
    width: 100%;
    display: block;
}

.U3rxQcAkeZ5 > textarea {
    min-height: 150px !important;
}

.lLwemSWham {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin:10px 0;
}

    .lLwemSWham > span {
        margin: 0 10px;
    }

.vuejWOzNLH {
    width: 150px;
    margin: 0 10px;
    border-radius: 5px;
}

.xTKcPpX23i {
    margin-top: 50px;
}
